<!DOCTYPE html>
<html>
  <head>
    <title>T1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= form_tag(search_page_path, :method => "get",   
      class: 'navbar-form navbar-left') do %>  
        <%= link_to('PÃGINA DE INICIO', root_path, :class => "button is-dark is-outlined") %>
        <div style="width:800px; margin:0 auto;"> 
        <%= search_field_tag :search, params[:search], placeholder: "Nombre de personaje", class: "form-control" %>  
          <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    <% end %>

    
    <%= yield %>
  </body>
</html>
