<!DOCTYPE html>
<html>
  <head>
    <title>T1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <form>
      <input type="text" id="search" name="search" value="Search"><br>
      <input type="submit" value="Submit">
    <form>
    <%= yield %>
  </body>
</html>
